/* MIX */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.color-btn{
  color:#000000;
}

.img-border{
  box-shadow: 1px 5px 12px 2px rgb(105, 105, 105);
}
/* /MIX */

.container{
  height:100vh;
}
 /* slider section */
.slider-section{
  height:50%;
  position:relative;
  box-shadow: 1px 5px 12px 2px rgb(105, 105, 105);

}
.slider-section img{
  height:100%;
  width:100%;
  object-fit: cover;
}
/* slider button */
.slider-left, .slider-right{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  font-size:46px;
  color:#fff;
  opacity:0.6;
}
.slider-left{
  left: 20px;
}
.slider-right{
  right: 20px;
}
/* /slider button */

/* bullet btn */
.bullets-box{
  position:absolute;
  bottom: 20px;
  left: 50%;
  transform:translateX(-50%);
  color:#fff;
}
.bullet{
  margin: 0 5px;
  opacity:0.6;
}
/* /bullet btn */

/* /slider section */
.img-slider{
  display:flex;
  justify-content: space-around;
  margin-top:50px;
}
.box{

  height:30vh;
  width: calc((100% / 3) - 40px);;

}
.box img{
  width:100%;
  height:100%;
  object-fit: cover;
}
