/* MIX */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.color-btn{
  color:#00008e;
}
/* /MIX */

.container{
  height:100vh;
}
 /* slider section */
.slider-section{
  height:50%;
  position:relative;

}
.slider-section img{
  height:100%;
  width:100%;
  object-fit: cover;
}
/* slider button */
.slider-left, .slider-right{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  font-size:46px;
  color:#fff;
}
.slider-left{
  left: 20px;
}
.slider-right{
  right: 20px;
}
/* /slider button */

/* bullet btn */
.bullets-box{
  position:absolute;
  bottom: 20px;
  left: 50%;
  transform:translateX(-50%);
  color:#fff;
}
.bullet{
  margin: 0 5px;
}
/* /bullet btn */

/* /slider section */
